@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-center-y {
  @apply flex items-center;
}

@utility flex-center-x {
  @apply flex justify-center;
}

@utility container {
  @apply max-w-[calc(var(--container-base)+var(--horizontal-spacing))] mx-auto px-5;
}

@utility container-xl {
  @apply max-w-[calc(var(--container-xl)+var(--horizontal-spacing))] mx-auto px-5;
}
